@font-face {
    font-family: 'archivo_blackregular';
    src: url('../fonts/archivoblack-regular-webfont.woff2') format('woff2'),
         url('../fonts/archivoblack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v85/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a:any-link {
color: currentColor;
}

.redBackground {
  background: red;
}

.notification_tag {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: auto;
  background: white;
  padding: 10px;
  border: red solid 2px;
  opacity: 60%;
  transition: 0.2s;
}
.notification_tag:hover {
  transition: 0.2s;
  opacity: 100%;
}

.notification_tag span {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.notification_tag span:hover,
.notification_tag span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.notification_tag p {
  font-size: 14px;
}
.notification_tag p:last-of-type {
  font-size: 12px;
}

.notification_tag h3 {
  color: chocolate;
  margin-block-start: 10px;
  margin-block-end: 0px;
}

body {
  background-color: #264653;
  font-family: archivo_blackregular;
}

/*a:any-link {*/
/*  text-decoration: none;*/
/*  color: black;*/
/*}*/

.good_space {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 100%;
  width: 82%;
}

.menu_buttons {
  margin-bottom: auto!important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column!important;
  list-style: none;

}

.menu {
  background-color: #212529;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 18%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search_button {
  width: 10%;
  fill: #212529;
  transform: translate(0, 25%);
}

.avatar {
  padding-bottom: 1rem;
  align-items: center;
  text-align: center;
}

.dropdown-menu {
  display: none;
  color:#dee2e6;
  background-color: #343a40;
  z-index: 1000;
  padding: 1rem 0;
  text-align: left;
  list-style: none;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: auto;
  margin: 0px;
  right: auto;
  bottom: 0px;
  transform: translate(50%, -80%);
  width: 50%;
}

.dropdown-menu_show {
  display: block!important;
}

.dropdown-item {
  font-family: "Helvetica Neue";
}

.avatar p {
  font-size: 1rem;
}

.avatar .badge {
  position: fixed;
  padding: 0.1% 0.3%;
  border-radius: 30%;
  background: red;
  color: white;
  font-size: 15px;
  transform: translate(-15px, -13px);
}

.avatar a {
  /*font-family: archivo_blackregular;*/
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  border-radius: 50%!important;
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}

.notifications_box_unread {
  background-color: darkred!important;
  color: white;
}

.notifications_box {
  text-align: center;
}

#notifications_table {
  border-collapse: collapse;
  width: 100%;
}

#notifications_table td, #notifications_table th {
  border: 1px solid #ddd;
  padding: 4px;
}
#notifications_table tr:nth-child(even){background-color: #f2f2f2;}

#notifications_table tr:hover {background-color: #ddd;}

#notifications_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: black;
}

.calendar_days_container {
  background-color: #2A9D8F;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 82%;
  height: 80px;
  display: flex;
}

.calendar_days {
  width: 14.28%;
  text-align: center;
  border-right: 4px solid black;
  align-items: center;
}

.calendar_days h1 {
  color: #eae2b7;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 20px;
}

.calendar_days p {
  margin-top: 0px;

}

.calendar_days:last-child {
  border-style: none;
}

.calendar_hours_container {
  background-color: #fefae0;
  position: fixed;
  top: 80px;
  bottom: 0px;
  right: 0px;
  width: 82%;
  display: flex;
}

.calendar_hours_container hr {
  background-color: black;
  margin: 0 .5rem 0 .5rem;
}

.calendar_hours_days {
  width: 14.28%;
  text-align: center;
  border-right: 4px solid black;
  align-items: center;
  overflow: scroll;
}

.calendar_hours_days:last-of-type {
  border-right: none;
}

.calendar_hours {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 10px 0 10px;
  transition: .5s;
}

.calendar_hours_current {
  transition: .5s;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: #e9c46a!important;
}

.calendar_hours:last-child {
  border: none;
}

.calendar_hours:hover {
  transition: .5s;
  background-color: #d4a373;

}

.task_label {
  border-left: 1px solid black;
  padding-left: 5px;
  margin-left: 5px;
}

.menu_title {
  padding-top: 1rem;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.login {
  background-color: #264653;
  font-family: archivo_blackregular;
}

.center {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/

}

.index_container {
  background-color: #2A9D8F;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  /*bottom: auto;*/
  left: 50%;
  margin: -202px 0 0 -213px;
  /*right: auto;*/
  /*transform: translate(-50%, -50%);*/
  padding: 50px;
}

.login_container {
  background-color: #2A9D8F;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  /*bottom: auto;*/
  left: 50%;
  margin: -202px 0 0 -213px;
  /*right: auto;*/
  /*transform: translate(-50%, -50%);*/
  padding: 50px;
}

.register_container {
  background-color: #2A9D8F;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  /*bottom: auto;*/
  left: 50%;
  /*margin: -202px 0 0 -213px;*/
  /*right: auto;*/
  transform: translate(-50%, -50%);
  padding: 50px;
}

.animation {
  animation:animName 2s linear .5;
  /*transition: 1s;*/
  opacity: 0;
  z-index: -1;
  /*  background-color: #212529;*/
}

.animation_inverse {
  animation:animName_inverse 2s linear .5;
  opacity: 1;
  z-index: 1;
  /*  background-color: #212529;*/
}

@keyframes animName {
  0%{
    transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(360deg);
    opacity: 0;
  }
  100%{
    transform: rotateY(360deg);
  }
}

@keyframes animName_inverse {
  0%{
    transform: rotateY(360deg);
    opacity: 0;
  }
  50% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100%{
    opacity: 1;  }
}

.preferences_container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  color: white;
}

.available_tasks {
  margin: 50px 0 0 50px;
  width: 40%;
  height: 200px;
  border: 5px solid #212529;
  background-color: white;
  color: black;
  overflow: scroll;

}

.task {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 80%;
}

.task:last-child {
  border: none;
}

.button {
  background: white;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  font-family: archivo_blackregular;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: #212529;
}

.login_form {
  margin: 10px;
}
.login_form a {
  color: white;
}

.button_form {
  margin: 10px;
  display: flex;
}

.popup{
  position:absolute;
  top:-99px;
  left:900px;
  margin:100px auto;
  width:500px;
  height:350px;
  font-family:verdana;
  font-size:13px;
  padding:10px;
  background-color:rgb(240,240,240);
  border:2px solid grey;
  z-index:10000000;
}

.cancel{
  display:relative;
  cursor:pointer;
  margin:0;
  float:right;
  height:10px;
  width:14px;
  padding:0 0 5px 0;
  background-color:red;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  color:white;
  border-radius:3px;
  z-index:100000000000000000;
}

.cancel:hover{
  background:rgb(255,50,50);
}

.listWrapper {
  width: 656px;
  height: 150px;
  background-color: white;
  color: black;
  overflow: scroll;
}

.avatar_img {
  border-radius: 50%!important;
  margin-right: 1rem;
  width: 35%;
  height: 35%;
}

.register_fieldsrow_ {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.row {
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
}

/*#task_description {
  height: 100px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.2);
  overflow: scroll;
}*/

.register_fields_row button {
  font-size: 18px;
}
.register_fields_row button:active {
  color: white;
  background-color: #212529;
  transition: .2s;
}

.register_fields_columns {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.register_fields_columns input {
  font-size: 18px;
}

.register_fields_columns input:last-child {
  margin-left: 50px;
}

.apply_manager {
  font-size: 20px!important;
}

#checkbox:checked ~ .admin {
  pointer-events: visible;
  opacity:1;
}

.admin {
  pointer-events: none;
  opacity:.5;
}

.choose_skills {
  margin: 10px 0 0 0;
}

.choose_skills input {
  width: 650px;
  font-size: 18px;
}

.selected_skills {
  margin: 0 0 0 0;
  width: 656px;
  height: 150px;
  background-color: white;
  color: black;
  overflow: scroll;
}

.skill {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill:hover {
  transition: .2s;
  background: rgba(0, 0, 0, .3);
}

.skill:last-child {
  border-bottom: none;
}

.skill p {
  margin-left: 20px;
}

.skill button {
  background: #e76f51;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: .8rem;
  margin: 0 20px 0 auto;
  width: 25px;
  height: 25px;
}

.hide {
  display: none;
}

.prio0 {
  background: #d00000;
  color: white;
}
.prio1 {
  background: #e85d04;
  color: white;
}
.prio2 {
  background: #ffba08;
  color: white;
}
.prio3 {
  background: #778b3b;
  color: white;
}

.skill_button:active {
  transition: .2s;
  background: black;
}

input {
  height: 30px;
  width: 300px;
  min-width: 30px;
  border: 2px solid #264653;
  font-size: 15px;
  padding: 5px;
}

 button {
   width: 50%;
   height: 50px;
   margin-bottom: 20px;
   background-color: white;
   fill: #212529;
 }

.button {
  color: #212529;
}

.add_new_task {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add_new_task-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.add_new_task-container input{
  width: 100%;
}

.add_new_task-container button {
  background-color: #343a40;
  color: white;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  font-family: archivo_blackregular;
  cursor: pointer;
  margin-left: 50%;
  transform: translate(-50%, 0px);

}

.add_new_task_row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.autocomplete-items {
  /*position: absolute;*/
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.pw_prompt {
  position:fixed;
  left: 50%;
  top: 0px;
  margin-left:-100px;
  padding:15px;
  width:350px;
  border:1px solid black;
  background-color: white;
}
.pw_prompt label {
  display:block;
  margin-bottom:5px;
}
.pw_prompt input {
  margin-bottom:10px;
}

#file
{
  display: none;
}

#user_img
{
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup2 .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup2 .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.add_new_task_columns {
  margin: 10px 10px 10px 10px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: row;
}

.add_new_task_columns input {
  font-size: 15px;
}

.add_new_task_columns input:last-child {
  margin-left: 10px;
}

.left_button {
  width: 40px;
  height: 80px;
  /*background: #009879;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);*/
  position: fixed;
}

.left_button:hover {
  background: #15b4a0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  transition: .25s;
}
.right_button {
  width: 40px;
  height: 80px;
  /*background: #009879;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);*/
  position: fixed;
  top: 0px;
  right: 0px;
}

.right_button:hover {
  background: #15b4a0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  transition: .25s;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin-bottom: 50px;
}

hr {
  height: 1px;
  margin: 1rem 0;
  color: inherit;
  background-color: white;
  border: 0;
  opacity: .25;
  margin-left: 20px;
  margin-right: 20px;
}


.search_bar {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.search_bar-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.search_bar-container input{
  width: 98.5%;
}

.listWrapper {
  margin: 0 0 0 0;
  background-color: white;
  color: black;
  overflow: auto;
}

.autocomplete-items {
  position: flex;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 205px;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;

}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.choose_tasks {
  margin: 10px 0 0 0;
}

.addTaskWrapper {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.addTaskWrapper-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.addTaskWrapper-container input{
  width: 100%;
}

/*.myTaskDetails {
  display: none;
}*/

/* Popup container */
.popupSearch {
  /*position: relative;*/
  cursor: pointer;
  display: none;
}

.popupSearch .title {
  margin:5px 0px;
  font-size:25px;
  font-weight:600;
}

/* The actual popup (appears on top) */
.popupSearch .popuptext {
  width: auto;
  background-color: #212529;
  color: #fff;
  text-align: center;
  font-size:18px;
  font-weight:600;
  border-radius: 6px;
  padding: 8px 0;
  /*position: absolute;*/
  z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupSearch .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* Popup container */
.popupCalendar {
  /*position: relative;*/
  cursor: pointer;
  display: block;
}

.popupCalendar .title {
  margin:5px 0px;
  font-size:25px;
  font-weight:600;
}

/* The actual popup (appears on top) */
.popupCalendar .popuptext {
  width: auto;
  background-color: #212529;
  color: #fff;
  font-size:18px;
  font-weight:600;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  /*position: absolute;*/
  z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupCalendar .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.pw_prompt {
    position:fixed;
    left: 50%;
    top: 0px;
    margin-left:-100px;
    padding:15px;
    width:350px;
    border:1px solid black;
    background-color: white;
}
.pw_prompt label {
    display:block; 
    margin-bottom:5px;
}
.pw_prompt input {
    margin-bottom:10px;
}

#file
{
    display: none;
}

#user_img
{
    cursor: pointer;
}

.register_fields_errors {
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: -1;
}

.close-icon
{ text-align: center;
  border-radius: .8rem;
  margin: 0 20px 0 auto;
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:red;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:red;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

#profile-container_register {
    display: inline-flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container_register img {
  
    width: 200px;
    height: 200px;
}



.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup2 .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup2 .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 3s forwards ;
  animation: fadeIn 3s forwards;
  
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
visibility: visible;
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0; visibility: hidden;}
}

@keyframes fadeIn {
visibility: visible;
  0% {opacity: 0;}
  50% {opacity:1 ;}
  100% {opacity:0 ; visibility: hidden;}
}

.autocomplete {
  position: relative;
  display: inline-block;

}


.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;

}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;


}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}



.listWrapper_register {
  width: 656px;
  height: 130px;
  background-color: white;
  color: black;
  overflow: scroll;
}

.filter {
 margin: 2% 0 -2% 20%;
  width: 656px;
  height: 150px;
  background-color: #212529;
  color: black;
  border-bottom: 3px solid white;
 
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.popup{
  position:fixed;
  top: 0px;
  left:50%;
  margin:100px auto;
  width:500px;
  height:350px;
  font-family:verdana;
  font-size:13px;
  padding:10px;
  background-color: #212529;
  border:2px solid grey;
  z-index:10000000;
}
